
nav{
    padding: 10px 2%;
    position: sticky;
    top: 0;
    background: #ffff;
    z-index: 10;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.nav-left{
    display: flex;
    justify-content: space-between;

}
.nav-left .menu{
    width: 25px;
    height: 30px;
}
.nav-left .logo{
    width: 150px;
    padding-left: 10px;
    justify-content: left;
    height: 35px;
}
.nav-right img{
    width: 30px;
    justify-content: space-evenly;
    margin: 0 10px ;
}
.nav-right .profile-logo{
    border-radius: 50%;
}
.container{
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding: 4px 10px;
    
}
.nav-middle .container input{
    border: none;
    outline: none;
    width: 400px;
    background: transparent;
}


/* this is media query for max width of 900px */

@media (max-width:900px) {
    .nav-right img{
        display: none;
    }
    .nav-right .profile-logo{
        display: block;
        width: 30px;
    }
    .menu{
        display: none;
    }
    .nav-middle .container input{
        width: 120px;
    }
    .logo{
        width: 60px;
    }
}